.credit {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: -45px;
}

.credit-content {
    display: flex;
    align-items: center;
}

.club__logo {
    width: 110px;
    margin-right: 10px; 
}

.credit-text {
    font-weight: bold; 
}
