.credit {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: -3px;
}

.credit-content {
    display: flex;
    align-items: center;
}

.club__logo {
    height: 100px;
}


