@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather:ital,wght@1,700&family=Poppins:ital,wght@0,500;1,100&display=swap');
:root {
  font-family:Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #EB0028;
  --secondary: #000000;
  --tertiary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  color: var(--tertiary);
}


@tailwind base;
@tailwind components;
@tailwind utilities;