:root {
  font-family:Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #EB0028;
  --secondary: #000000;
  --tertiary: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  color: var(--tertiary);
}


@tailwind base;
@tailwind components;
@tailwind utilities;


